@charset "UTF-8";

#section1 {
	display: flex;
	width: 100vw;
	height: 100vh;
	align-items: center;
	justify-content: center;
	background: url("jpgs/darkBike.jpg");
	background-size: 100%;
	background-position: center;
	font-size: 1vw;
}

div {
	color: white;
}

form, #littleForm {
	border: 1px solid white;
	width: 60%;
	height: 60%;
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: space-around;
}

#submitBtn {
	border: 2px solid white;
	background-color: rgb(197, 127, 69);
	width: 30%;
	height: 10%;
	font-size: 1.2vw;
	color: white;
}

#submitBtn:hover {
	background-color: rgb(206, 176, 151);
}

#submitBtn:active {
	background-color: rgb(212, 115, 36);
}

.orderList {
	border: 1px solid white;
	width: 30%;
	height: 60%;
	display: flex;
	flex-direction: column;
	overflow-x: hidden;
}

::-webkit-scrollbar {
	width: 2%;
	z-index: 20;
}

::-webkit-scrollbar-track {
	background-color: #72737571;
}

::-webkit-scrollbar-thumb {
	background: #888;
}

::-webkit-scrollbar-thumb:hover {
	background: rgb(230, 230, 230);
}

.orderListElement {
	height: 15vh;
	width: 100%;
}

.orderListElement #littleForm {
	display: flex;
	flex-direction: row;
	height: 100%;
	width: 100%;
	align-items: center;
	justify-content: space-around;
}

.deleteBtn {
	height: 30%;
	width: 15%;
	border: 1px solid white;
	background-color: rgb(44, 99, 161);
	font-size: 1vw;
	color: white;
}

.deleteBtn:hover {
	background-color: rgb(111, 132, 155);
}

.deleteBtn:active {
	background-color: rgb(14, 49, 88);
}